<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>Cập nhật</title>
</head>
<body>
	<section id="admin-content" class="p-3" layout:fragment="content">
		<h3 class="mb-4 text-center">Cập nhật quyền</h3>
		<p class="text-center" th:text=${message}></p>
		<form method="post" th:action="@{/role/edit}" th:object="${role}">
			<div class="row">
				<div class="col-md-6 m-auto">
					<div class="form-group">
						<input type="hidden" th:field="*{id}"
							class="form-control" placeholder="id" />
					</div>	
					<div class="form-group">
						<label>Tên quyền</label> <input type="text" th:field="*{name}"
							class="form-control" placeholder="name" />
					</div>
					<div class="form-group">
						<label>Mô tả</label> <input type="text" th:field="*{description}"
							class="form-control" placeholder="description" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Lưu lại</button>
						<a class="btn btn-secondary" th:href="@{/role}">Quay lại</a>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>