<div id="side-bar" xmlns:th="http://www.thymeleaf.org"
	th:fragment="sidebar">
	<div class="logo">ADMIN PAGE</div>
	<ul class="list-group rounded-0">
		<li class="dashboard">DASHBOARD</li>
		<li><a href="/role"> <i class="fa fa-user mr-2"></i> Quản lý phân quyền
		</a></li>
		<li><a href="/user"> <i class="fa fa-user mr-2"></i> Quản lý người dùng
		</a></li>
		<li><a href="/categorie"> <i class="fa fa-book mr-2"></i> Quản lý phân loại  
		</a></li>
		<li><a href="/courses"> <i class="fa fa-cogs mr-2"></i> Quản lý bài giảng
		</a></li>
		<li><a href="/targets"> <i class="fa fa-slack mr-2"></i> Quản lý mục tiêu
		</a></li>
		<li><a href="/video"> <i class="fa fa-slack mr-2"></i> Quản lý video
		</a></li>
		
	</ul>
</div>