<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section id="admin-content" class="p-3" layout:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<canvas id="myChart" width="400" height="400"></canvas>
			</div>
			<div class="col-md-6">
				<canvas id="myChart2" width="400" height="400"></canvas>
			</div>
			<div class="col-md-1"></div>
		</div>
	</section>
	
	
</body>
</html>